@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.navbar-brand, h1, h2, h3, h4 {
	foont-family: 'Jeju Gothic';
}
<!-- 제주고딕을 특정 영역에서만 사용 -->
h5{
	font-family: 'Jeju Gothic';
	font-size: 18px;
}
body{
	font-family: 'Nanum Gothic';
}